<template name="flashcardHeaderPresentationRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
        {{> cardContentItemCountCards this}}
    </div>
</template>

<template name="flashcardHeaderDemoRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
        {{> cardContentItemCountCards this}}
    </div>
</template>

<template name="flashcardHeaderDefaultRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
        {{> cardContentItemCountCards this}}
    </div>
</template>

<template name="flashcardHeaderEditorRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
        {{#if isEditCard}}
            {{> cardContentItemCountCards this}}
        {{/if}}
    </div>
</template>

<template name="flashcardHeaderLeitnerRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
        {{> cardContentItemCountCardsLeitner this}}
    </div>
</template>

<template name="flashcardHeaderWozniakRight">
    <div class="col-xs-2 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>
