<template name="cardSidebarItemSwapQuestionAnswer">
    {{#if gotCardTypesWithSwapAnswerQuestionButton}}
        <i class="card-button cardHeaderItem fa swapQuestionAnswer btn fa fa-exchange {{#if
                questionAnswerSwapped}}pressed{{/if}}"
           data-type="cardNavigation"
           title="{{getTooltip}}"></i>
    {{/if}}
</template>
