<template name="filterNavigation">
    <ul class="nav navbar-nav filter-top-row cards-filter-element">
        {{#if gotResetButton}}
            {{> filterItemResetButton}}
        {{/if}}
        {{#if gotKindFilter}}
            {{> filterItemFilterKind}}
        {{/if}}
    </ul>
    <ul class="nav navbar-nav filter-bottom-row cards-filter-element">
        {{#if gotSortButton}}
            {{> filterItemSortResults}}
        {{/if}}
        {{#if gotCardTypeFilter}}
            {{> filterItemFilterCardType}}
        {{/if}}
        {{#if gotDifficultyFilter}}
            {{> filterItemFilterDifficulty}}
        {{/if}}
        {{#if gotAuthorFilter}}
            {{> filterItemFilterAuthors}}
        {{/if}}
        {{#if gotWordcloudFilter}}
            {{> filterItemFilterWordcloud}}
        {{/if}}
        {{#if gotBonusFilter}}
            {{> filterItemFilterBonus}}
        {{/if}}
    </ul>
</template>

<template name="filterNavigationMobile">
    {{#if gotResetButton}}
        {{> filterItemResetButton}}
    {{/if}}
    {{#if gotSortButton}}
        {{> filterItemSortResults}}
    {{/if}}
    {{#if gotCardTypeFilter}}
        {{> filterItemFilterCardType}}
    {{/if}}
    {{#if gotDifficultyFilter}}
        {{> filterItemFilterDifficulty}}
    {{/if}}
    {{#if gotAuthorFilter}}
        {{> filterItemFilterAuthors}}
    {{/if}}
    {{#if gotWordcloudFilter}}
        {{> filterItemFilterWordcloud}}
    {{/if}}
    {{#if gotBonusFilter}}
        {{> filterItemFilterBonus}}
    {{/if}}
    {{#if gotKindFilter}}
        {{> filterItemFilterKind}}
    {{/if}}
</template>

<template name="infiniteScroll">
    {{#if moreResults}}
        <a href="#" class="showMoreResultsContainer" title="{{_ "set-list.moreResults"}}">
            <div id="showMoreResults" class="showMoreResults col-xs-12 panel panel-default">
                <div class="flex-content">
                    <div class="scrollArrow col-xs-12 infinite-scroll-icon glyphicon glyphicon-chevron-down">
                        <span class="resultCounter">{{getCurrentResults}}</span>
                    </div>
                </div>
            </div>
        </a>
    {{/if}}
</template>
