<template name="mainItemSearchResult">
    <div id="searchResults" class="cards-search-element" style="{{#if
            searchCategories}}display: unset !important;{{else}}display: none !important;{{/if}}">
        {{#each searchCategories}}
            <a href="/cardset/{{_id}}" class="list-group-item clearfix search-result-item">
                <h4 class="list-group-item-heading search-subject search-subject-{{kind}}">{{{getCardsetIcons this.shuffled}}}{{name}}</h4>
                <p class="list-group-item-text search-result-info">
                    {{> cardsetLabels}}
                    {{#with getAuthor this.owner}}
                        <span class="hidden-xs pull-right">
                            {{givenname}}
                            {{birthname}}
                        </span>
                    {{/with}}
                </p>
                {{#with getAuthor this.owner}}
                    <p class="list-group-item-text search-result-info visible-xs">
                        {{givenname}}
                        {{birthname}}
                    </p>
                {{/with}}
                <p class="list-group-item-text search-content markdeepCardset markdeepCardsetContent">{{#markdeep}}{{description}}{{/markdeep}}</p>
            </a>
        {{/each}}
    </div>
</template>
