<template name="bonusForm">
    <div class="modal fade" id="bonusFormModal" tabindex="-1" role="dialog"
         aria-labelledby="bonusFormModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="bonusFormModalTitle" class="modal-title">{{#if isNewBonus}}{{_
                            "bonus.form.new.title"}}{{else}}{{_ "bonus.form.edit.title"}}{{/if}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        {{> bonusFormMaxWorkload}}
                        {{> bonusFormDaysBeforeReset}}
                        {{> bonusFormStartDate}}
                        {{> bonusFormEndDate}}
                        {{> bonusFormRegistrationPeriod}}
                        {{> bonusFormIntervals}}
                        {{> bonusFormMaxPoints}}
                        {{> pomodoroTimerModalContent}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancelBonus" class="btn btn-default btn-raised pull-left"
                            data-dismiss="modal">{{_ "bonus.form.button.cancel"}}</button>
                    <button id="resetBonus" class="btn btn-danger btn-raised pull-left">{{_
                            "bonus.form.button.reset"}}</button>
                    <button id="startBonus"
                            class="btn btn-success btn-raised pull-right">{{#if isNewBonus}}{{_ "bonus.form.button.start"}}{{else}}{{_
                            "bonus.form.button.update"}}{{/if}}</button>
                </div>
            </div>
        </div>
    </div><!-- /form group -->
</template>

<template name="bonusFormMaxWorkload">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.maxWorkload.label"}}</label>
        <div class="col-md-9">
            <input type="number" min="1" max="100" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control" id="maxWorkload"
                   placeholder="{{_ "bonus.form.maxWorkload.placeholder"}}" value="">
            <span id="errorMaxCards" class="help-block name"></span>
        </div>
    </div>
</template>

<template name="bonusFormDaysBeforeReset">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.daysBeforeReset.label"}}</label>
        <div class="col-md-9">
            <input type="number" min="1" max="100" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control" id="daysBeforeReset"
                   placeholder="{{_ "bonus.form.daysBeforeReset.placeholder"}}" value="">
            <span id="errorDaysBeforeReset" class="help-block name"></span>
        </div>
    </div>
</template>

<template name="bonusFormStartDate">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.startDate.label"}}</label>
        <div class="col-md-9">
            <input type="date" class="form-control" id="dateBonusStart"
                   placeholder="{{_ "bonus.form.startDate.placeholder"}}" value="">
        </div>
    </div>
</template>

<template name="bonusFormEndDate">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.endDate.label"}}</label>
        <div class="col-md-9">
            <input type="date" class="form-control" id="dateBonusEnd"
                   placeholder="{{_ "bonus.form.endDate.placeholder"}}" value="">
        </div>
    </div>
</template>

<template name="bonusFormIntervals">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.intervals.label"}}</label>
        <div class="col-md-9 form-inline">
            <input type="number" min="1" max="999" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="interval1"
                   placeholder="1" value="1">
            <input type="number" min="1" max="999" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="interval2"
                   placeholder="3" value="3">
            <input type="number" min="1" max="999" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="interval3"
                   placeholder="7" value="7">
            <input type="number" min="1" max="999" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="interval4"
                   placeholder="28" value="28">
            <input type="number" min="1" max="999" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="interval5"
                   placeholder="84" value="84">
        </div>
    </div>
</template>

<template name="bonusFormRegistrationPeriod">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.registrationPeriod.label"}}</label>
        <div class="col-md-9 form-inline">
            <input type="date" class="form-control" id="dateRegistrationPeriod"
                   placeholder="{{_ "bonus.form.registrationPeriod.placeholder"}}" value="">
        </div>
    </div>
</template>


<template name="bonusFormMaxPoints">
    <div class="form-group row">
        <label class="col-md-3 control-label">{{_ "bonus.form.maxPoints.label"}}</label>
        <div class="col-md-9 form-inline">
            <input type="number" min="{{getDefaultMinBonusPoints}}" max="{{getDefaultMaxBonusPoints}}" data-bind="value:replyNumber"
                   onkeypress="return  (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   class="form-control interval" id="maxBonusPoints"
                   placeholder="{{getDefaultMaxBonusPoints}}" value="{{getCurrentMaxBonusPoints this}}">
        </div>
    </div>
</template>

<template name="joinBonusForm">
    <div class="modal fade" id="joinBonusModal" tabindex="-1" role="dialog" aria-labelledby="joinBonusTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="joinBonusTitle" class="modal-title">{{_ "bonus.form-join.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "bonus.form-join.message"}}</p>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button id="joinBonusConfirm" class="btn btn-raised btn-default btn-success pull-right">{{_
                            "bonus.form-join.button.confirm"}}</button>
                    <button id="joinBonusCancel" class="btn btn-default btn-raised pull-left"
                            data-dismiss="modal">{{_ "bonus.form-join.button.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="leaveBonusForm">
    <div class="modal fade" id="leaveBonusModal" tabindex="-1" role="dialog" aria-labelledby="leaveBonusTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="leaveBonusTitle" class="modal-title">{{_ "bonus.form-leave.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "bonus.form-leave.message"}}</p>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button id="leaveBonusConfirm" class="btn btn-raised btn-default btn-danger pull-right">{{_
                            "bonus.form-leave.button.confirm"}}</button>
                    <button id="leaveBonusCancel" class="btn btn-default btn-raised pull-left"
                            data-dismiss="modal">{{_ "bonus.form-leave.button.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="profileIncompleteModal">
    <div class="modal fade" id="profileIncompleteModal" tabindex="-1" role="dialog" aria-labelledby="joinBonusTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    {{> mainModalItemCloseIcon}}
                    <h4 id="completeProfileTitle" class="modal-title">{{_ "sweetAlert.completeProfile.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "sweetAlert.completeProfile.text"}}</p>
                    <br>
                    <hr>
                    <button id="completeProfileGoToProfile" class="btn btn-block btn-raised btn-default btn-success">{{_ "sweetAlert.completeProfile.button.confirm"}}</button>
                    <button id="completeProfileCancel" class="btn btn-default btn-block btn-raised"
                            data-dismiss="modal">{{_ "sweetAlert.completeProfile.button.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
